AIRTABLE_TABLE_NAME=Members
BLACKLIST_PLAN_ID=Blacklist
APPROVED_PLAN_ID=HBO_Max_Members
PENDING_PLAN_ID=Pending_Status
MEMBERSTACK_WEBHOOK_SECRET=
MEMBERSTACK_SECRET_KEY=
WEBFLOW_API_TOKEN=
WEBFLOW_SITE_ID=
PORTAL_URL=
FROM_ADDRESS=Max Brand Portal <maxbrandportal@wbd.com>
RESEND_API_KEY=
AIRTABLE_API_KEY=
AIRTABLE_PASSWORD_RECORD_ID=
AIRTABLE_BASE_ID=